  
/node_modules
/npm-debug.log*
/yarn-error.log
/package-lock.json

# production
/dist
/test
/output
/output/**
/cache/**
.cookie.json

# misc
.DS_Store
.env
db.json
/db
database
.database

.exclude
.include